<!DOCTYPE html>
<html lang="en" class="">
<head>
    <meta charset="UTF-8">
    <title>Memoji || Emoji Arcade</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Reference to reset.min css sheet. --> 
    <link rel="stylesheet" type="text/css" href="/static/css/reset.min.css">
    <!-- add jQuery -->
      <!-- Reference to jQuery version 2.2.3. -->
    <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"
    ></script>
    <!-- Reference to materialize css sheet. -->
    <link rel="stylesheet" type="text/css" href="/static/css/materialize.css">
    <!-- Reference to Materialize.min javascript sheet. -->
    <script src="/static/js/materialize.js"></script>
    <!-- Reference to app style sheet. -->  
    <link rel="stylesheet" type="text/css" href="/static/css/emoji_arcade_style.css">
      <!-- Reference to index.js -->
    <script src="/static/js/index.js"></script>
    <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!-- Add Google Web Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Press+Start+2P|Rubik:300,300i,400,400i,500,500i,700,700i,900,900i|Share+Tech+Mono|Ubuntu+Condensed|VT323" rel="stylesheet">

</head>

<body>

 <div class="container home">     

    <header>
      <div class="row">
        <div class="col s12 m4 l4">
          <img src="/static/images/memoji-logo-small.png" width="200px" class="minigame-logo">
        </div>

        <div class="col s12 m4 l4"  id="welcome">
          Welcome, Player!
        </div>

        <div class="col s12 m4 l4" id="nav">
            <!--<a href="/memoji/new"><img src="../images/start.png" width="80"></a> -->
            <a class="waves-effect modal-trigger" href="#modalScores">
            <img src="static/images/scores.png" width="80" class="scores-button">
            </a> 

                      <div id="modalScores" class="modal">
                        <div class="modal-content">
                          <h4 class="modal-title">High Scores</h4>
                          <div class="row high-score-row">
                            <div class="col s4">seeksort</div>
                            <div class="col s4 score-num">865</div>
                            <div class="col s4">11/17/16</div>
                          </div>

                          <div class="row high-score-row">
                            <div class="col s4">tuantran1122</div>
                            <div class="col s4 score-num">745</div>
                            <div class="col s4">11/17/16</div>
                          </div>

                          <div class="row high-score-row">
                            <div class="col s4">brandon_s </div>
                            <div class="col s4 score-num">675</div>
                            <div class="col s4">11/17/16</div>
                          </div>

                          <div class="row high-score-row">
                            <div class="col s4">marcus-lam</div>
                            <div class="col s4 score-num">545</div>
                            <div class="col s4">11/17/16</div>
                          </div>

                          <div class="row high-score-row">
                            <div class="col s4">shabbyveneer</div>
                            <div class="col s4 score-num">2</div>
                            <div class="col s4">11/17/16</div>
                          </div>
                        </div>
                      </div>   
        </div>       
      </div>
    </header>

 <main class="memoji">

  <div class="row">
    <div class="col s12">
        <img src="/static/images/memoji-logo-final.png" class="game-icon-logo-small">  
    </div>
  </div>

   <div class="row">
    <div class="col s12 m12 l12">
      <form action="/data/Animals" method="POST">
       
       <button type="submit" class="themeSelector" id="Animals">Animal</button>
       <button type="submit" class="themeSelector" id="Flags">Flag</button>
       <button type="submit" class="themeSelector" id="Random">Random</button>
      



      <button class="difficultySelector" value="easy">Easy</button>
      <button class="difficultySelector" value="medium">Medium</button>
      <button class="difficultySelector" value="hard">Hard</button>

      </form>
    </div>
  </div>

 </main>

   <footer>
     <div class="row">
      <div class="col s6 m6 l4" >
      </div>

      <div class="col s6 m6 l4">
      </div>

       <div class="col s12 m12 l4" id="gameLogo">
        <img src="/static/images/ea-logo-2.png" width="150px">
      </div>

  </footer> 

</div>

<script>

$(document).ready(function(){

  $('.modal-trigger').leanModal();

  // INSERT INTO /memoji/new.html

$(document).on("click", ".themeSelector", function(){
    var theme = $(this).val();
    
    
});

$(document).on("click", ".difficultySelector", function(){
    difficultyValue = $(this).val();
    
});
////////////////

});

</script>

</body>
</html>