<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Emoji Arcade</title>

	<!-- add jQuery -->
	<!-- Reference to reset.min css sheet. -->	
	<link rel="stylesheet" type="text/css" href="css/reset.min.css">
	<!-- Reference to materialize.min css sheet. -->
	<link rel="stylesheet" type="text/css" href="css/materialize.css">
	<!-- Reference to style css sheet. 
	<link rel="stylesheet" type="text/css" href="public/assets/css/style.css">-->	
	<!-- Reference to app style sheet. -->	
	<link rel="stylesheet" type="text/css" href="css/emoji_arcade_style.css">
	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Add Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Press+Start+2P|Rubik:300,300i,400,400i,500,500i,700,700i,900,900i|Share+Tech+Mono|Ubuntu+Condensed|VT323" rel="stylesheet">

    <!-- Ensures the page is mobile responsive. -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
	<div class="container" id="home">     
	<!-- Allows interior border inside container padding -->
  		<div class="inside">
  		<!-- header styled special for home page -->
			<div id="header-home">
			  <img src="images/ea-logo-2.png" class="logo-home"> <!-- Logo -->
			</div>
   
	   		<main class="home">
		   		<div class="row">
		   			<div class="col s12">
		   				<p class="playerOne">Ready Player One </p>
					</div>
				</div>
				<div class="row">
					<div class="col s0 m2 l2"></div>

					<div class="col s12 m4 l4" id="insertCoin">
						<div class="startText">Insert Coin(s)</div>
						<div class="emojiCredit">Credit: 0/2</div>
					</div>
					<div class="col s12 m4 l4">
						<img class="emojiCoin" src="images/coin.svg">
					</div>

					<div class="col s0 m2 l2"></div>
	    		</div>

	   		</main>

		    <div id="footer-home">
		    TM and © 1988 TEAM EMOJI CO., LTD<bR>
		    LICENSED BY CODING BOOTCAMP
		    </div>
    	</div>
	</div>
	

	<!-- Reference to jQuery version 2.2.3. -->
	<script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"
	></script>
	<!-- Reference to Materialize.min javascript sheet. -->
	<script src="js/materialize.min.js"></script>

    <!-- Reference to index.js -->
	<script src="js/index.js"></script>
<script>
      $(document).ready(function(){
      // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
      	$('.modal-trigger').leanModal();
      });
</script>

</body>
</html>