<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Emoji Arcade</title>

	<!-- Reference to reset.min css sheet. -->	
	<link rel="stylesheet" type="text/css" href="public/assets/css/reset.min.css">
	<!-- Reference to materialize.min css sheet. -->
	<link rel="stylesheet" type="text/css" href="public/assets/materialize/css/materialize.css">
	<!-- Reference to style css sheet. -->
	<link rel="stylesheet" type="text/css" href="public/assets/css/style.css">	
	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Add Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Press+Start+2P|Rubik:300,300i,400,400i,500,500i,700,700i,900,900i|Share+Tech+Mono|Ubuntu+Condensed|VT323" rel="stylesheet">
    <!-- Ensures the page is mobile responsive. -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
	<!-- Welcome Page -->
	<div class="container90 imgFrame">
		<div class="row">
			<div class="col l12 m12 s12">
				<!-- <div class="flow-text"> -->
			        <ul class="fly-in-text hidden center-align">
			            <li>W</li>
			            <li>E</li>
			            <li>L</li>
			            <li>C</li>
			            <li>O</li>
			            <li>M</li>
			            <li>E</li>        
			        </ul>
			        <br>
			        <ul class="fly-in-text2 hidden center-align">
			            <li>T</li>
			            <li>O</li>
			        </ul>
			        <br>
			        <ul class="fly-in-text3 hidden center-align">
			            <li>E</li>
			            <li>M</li>
			            <li>O</li>
			            <li>J</li>
			            <li>I</li>
			            <li></li>
			            <li>A</li>
			            <li>R</li>
			            <li>C</li>
			            <li>A</li>
			            <li>D</li>
			            <li>E</li>   
			        </ul>
			    <!-- </div> -->
		    </div>
			<div class="col l6 offset-l3 m4 offset-m4 s4 offset-s4">
				<div class="center-align startTextMargin">
					<p class="startText hide">INSERT EMOJI COIN TO BEGIN</p>
					<br>
					<p class="emojiCredit hide">EMOJI CREDIT 0/2</p>
				</div>
			</div>
			<div class="col l2 offset-l5 m2 offset-m5 s4 offset-s4">
				<img class="emojiCoin hide" src="public/images/coin.svg">
			</div>
			<!-- Contains the media play/pause button. -->
			<div class="col l1 offset-l11 m1 offset-m11 s2 offset-s10">
				<div class="musicContainer">
					<img class="mediaButton hide" src='public/images/playButton.png' alt=''>
				</div>
			</div>
	    </div>
	    
    </div>

	

	<!-- Reference to jQuery version 2.2.3. -->
	<script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"
	></script>
	<!-- Reference to Materialize.min javascript sheet. -->
	<script src="public/assets/materialize/js/materialize.min.js"></script>
	<!-- Reference to index.js -->
	<script src="javascript/index.js"></script>
</body>
</html>