* {
  box-sizing: border-box;
}

html {
	background: rgba(0,0,0,1);
	background-image: url(../images/arcade-cabinet-5.png);
	background-size: cover;
}

a {
	color: #FFFFFF;	
}

a:hover {
	color: #FFFFFF;
}

h1 {
	font-family: 'VT323', monospace;
	font-size: 4rem;
	color: #ffffff;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

h4 {
	font-size: 1.5rem;
	font-weight: 300;
}

h5 {
	font-size: 1.3rem;
	font-weight: 100;
}

header {
	background: radial-gradient(#363636, #141414);
	padding-right: 20px;
	padding-left: 40px;
	padding-bottom: 5px;
	padding-top: 5px;	
	border-bottom: 1px solid #292929;
}

body {
  
}

main {
	min-height: 600px;
	padding: 40px;
	text-align: center;
}

main.home {
	min-height: 300px;
	padding: 40px;
	text-align: center;
	padding-bottom: 10px;
}

main.memoji {
	background: radial-gradient(#95065e, #680b44);
	/*background: radial-gradient(#363636, #141414);*/
}

main.emojid {
	background: radial-gradient(#d44932, #bc321b);
	/*background: radial-gradient(#363636, #141414);*/
}

.inside {
	border: 3px solid #ff9001;
}

#home {
	border: 0px solid #575757;
	padding: 20px;
	padding-bottom: 0px;
	background: radial-gradient(#363636, #141414);
}

#footer-home {
	font-family: 'VT323', monospace;
	font-size: 48px;
	line-height: 48px;
	color: #fdde67;
	vertical-align: middle;
	text-align: center;
	padding-bottom: 40px;
}

#header-home {
	padding: 40px;
	font-family: 'VT323', monospace;
	font-size: 48px;
	line-height: 48px;
	color: #fdde67;
	vertical-align: middle;
	text-align: center;
	padding-bottom: 5px;
}

footer {
	background: radial-gradient(#363636, #141414);
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 1px;
	padding-top: 10px;
	text-align: center;
	color: #FFFFFF;
	border-top: 1px solid #292929;
}

.container {
	box-shadow: 15px 15px 7px rgba(0, 0, 0, 0.4);
	/*border: 5px solid #292929;*/
}

.centerVH{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.googleBlock {
	display: inline-block;
	text-align: center;
	padding-top: 20px;
}

.timer {
	display: inline-block;
}

.guestLogin {
	display: inline-block;
}
      
#nav {
	color: #FFFFFF;
	padding: 0px;
	padding-right: 20px;
	background-color: none;
	text-align: center;
}

#nav a {
	font-family: 'VT323', monospace;
	font-size: 22px;
	color: #fdde67;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 22px;
}

#nav a:hover {
	color: #FFFFFF;
}

#welcome {
	font-family: 'VT323', monospace;
	font-size: 32px;
	color: #ffffff;
	vertical-align: middle;
	display: table-cell;
	padding-top: 10px;
	padding-bottom: 5px;
	text-align: center;
}

.scores-button {
	padding-top: 15px;
}

.logo-home {
	width: 50%;
}

.logo {
	width: 200px;
}

.minigame-logo {
	padding-top: 20px;
}

.loginFunctions {
	display: block;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 20px;
}

.row .col {
	padding-right: 0px;
}

#gameMessage {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 28px;
	line-height: 24px;
	color: #ffffff;
	vertical-align: middle;
	padding-top: 10px;
	padding-bottom: 20px;
}

#gameTime {
	font-family: 'VT323', monospace;
	font-size: 60px;
	line-height: 48px;
	color: #fdde67;
	vertical-align: middle;
	display: block;
	margin-bottom: 20px;
	margin-top: 40px;
}

#gameLogo {
	padding-top: 10px;
	text-align: center;
}

.emoji-card {
	width: 90%;
	height: 90%;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	box-shadow: 8px 8px 7px rgba(0, 0, 0, 0.2);
	position: relative;
	border: 1px solid #d58f09;
}

.face-up {
	background: #FFFFFF;
}

.face-down {
	background: radial-gradient(#f6bf00, #f4ad01);
}

.hide-card {
	opacity: 0;
}

.show-card {
	opacity: 0;
}


#emoji-zoom {
	padding: 30px;

}

#emojiContainer {
	padding: 30px;
	border: 8px solid #FFFFFF;
	width: 100%;
	background: #FFFFFF;
	display: block;
	overflow:hidden;
	box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.2);
	pointer-events: none;

}

.emoji-clue {
	pointer-events: none;
	-webkit-transform:scale(5.25);
    -moz-transform:scale(5.25); 
    -ms-transform:scale(5.25); 
    -o-transform:scale(5.25);
     transform:scale(5.25);	


}

#emojiOptions {
	text-align: center;
	display: block;
	width: 100%;
	margin-top: 20px;
}

.emoji-option {
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	-webkit-transform:scale(1);
    -moz-transform:scale(1); 
    -ms-transform:scale(1); 
    -o-transform:scale(1);
     transform:scale(1);
}

.emoji-option-ro {
	-webkit-transform:scale(1.25);
    -moz-transform:scale(1.25); 
    -ms-transform:scale(1.25); 
    -o-transform:scale(1.25);
     transform:scale(1.25);
}

img.qm {
	width: 90%;
	position: relative;
	top: 0;
	left: 0;
}

img.emoji {
	width: 90%;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 5px;
	margin-bottom: 5px;
	opacity: 0;
	pointer-events: none;
}

img.game-icon {
	width: 200px;
	margin-bottom: 30px;
	box-shadow: 8px 8px 7px rgba(0, 0, 0, 0.2);
}

img.game-icon-logo {
	width: 70%;
}

img.game-icon-logo-small {
	width: 30%;
	padding-top: 30px;
}
.gameIcon {
	text-align: center;
	font-family: 'VT323', monospace;
	font-size: 48px;
	line-height: 48px;
	color: #fdde67;
	margin-bottom: 15px;
}
.modal-content {
	color: #ffffff;
	background: rgba(0, 0, 0, 0.8);
	text-align: left;
	border: 2px solid #ffb608;
	padding: 3rem;
	font-family: 'VT323', monospace;
	color: #ffffff;
	font-size: 36px;
	z-index: 1005;
}

.modal-content h4 {
	font-family: 'VT323', monospace;
	color: #ffb608;
	font-size: 4rem;
	padding: 0px;
}

.modal {
}

.high-score-row {
	margin-bottom: 2px;
	border-bottom: 1px dotted #ffffff;
}

.score-num {
	text-align: center;
}

.musicContainer{
	position: absolute;
	bottom: 1%;
	right: 1%;
}

.mediaButton{
	width: 50%;
	float: right;
}

#insertCoin {
	padding-top: 30px;
	font-family: 'VT323', monospace;
	font-size: 48px;
	color: #ffffff;
}

.startText {
	font-family: 'VT323', monospace;
	font-size: 48px;
	color: #ffffff;
}

.small-link {
	color: #FFFFFF;
	font-size: 22px;
}

.pressStart {
	font-family: 'VT323', monospace;
	font-size: 48px;
	color: #ffffff;
}

.choose-text {
	font-family: 'VT323', monospace;
	font-size: 48px;
	color: #ffffff;
}

.emojiCredit {
	font-family: 'VT323', monospace;
	font-size: 48px;
	color: #fdde67;
}

.emojiCoin{
	width: 150px;
	margin-top: 10px;
	-webkit-animation: rotation 2s linear infinite;
	-moz-animation: rotation 2s linear infinite;
	-o-animation: rotation 2s linear infinite;
	animation: rotation 2s linear infinite;
}
.playerOne{
	font-family: 'VT323', monospace;
	font-size: 48px;
	color: #fdde67;
	padding: 0px;
	margin: 0px;
	line-height: 22px;
}

.devTeam {
	padding: 0px;
	font-family: 'VT323', monospace;
	font-size: 22px;
	color: #fdde67;
	display: block;
}

.devTeam:hover {
	color: #FFFFFF;
}

.loginText{
	font-family: 'VT323', monospace;
	font-size: 36px;
	color: #ffffff;
	padding-top: 15px;
}

#loginBlock {
	padding: 0px;
	margin: 0px;
}

.loginButton{
	font-family: 'VT323', monospace;
	font-size: 36px;
	color: #ffffff;

}

.loginButton:hover{
	color: #fdde67;
	text-decoration: underline;

}

.hide{
	display: none;
}


/* lower opactiy on timer */

.randomName{
	-webkit-animation: invisible .5s linear;
	-moz-animation: invisible .5s linear;
	-o-animation: invisible .5s linear;
	animation: invisible .5s linear;
}

@-webkit-keyframes invisible {
    0%{opacity:1;}
    100%{opacity:0;}
}
@-moz-keyframes invisible {
    0%{opacity:1;}
    100%{opacity:0;}
}
@-o-keyframes invisible {
    0%{opacity:1;}
    100%{opacity:0;}
}
@keyframes invisible { 
    0%{opacity:1;}
    100%{opacity:0;}
}


/* raise opacity on timer */

.appear{
	-webkit-animation: reappear .5s linear;
	-moz-animation: reappear .5s linear;
	-o-animation: reappear .5s linear;
	animation: reappear .5s linear;
}

@-webkit-keyframes reappear {
    0%{opacity:0;}
    100%{opacity:1;}
}
@-moz-keyframes reappear {
    0%{opacity:0;}
    100%{opacity:1;}
}
@-o-keyframes reappear {
    0%{opacity:0;}
    100%{opacity:1;}
}
@keyframes reappear { 
    0%{opacity:0;}
    100%{opacity:1;}
}

/* Card Flip */
.nameOfThingtoFlip{
	-webkit-animation: cardReveal .5s linear;
	-moz-animation: cardReveal .5s linear;
	-o-animation: cardReveal .5s linear;
	animation: cardReveal .5s linear;

}

@-webkit-keyframes cardReveal {
    0%{
	    -ms-transform: rotateY(180deg); /* IE 9 */
	    -webkit-transform: rotateY(180deg); /* Chrome, Safari, Opera */
	    transform: rotateY(180deg);  	
    }
    100%{
    	-ms-transform: rotateY(0deg); /* IE 9 */
	    -webkit-transform: rotateY(0deg); /* Chrome, Safari, Opera */
	    transform: rotateY(0deg);  
	    background: #FFFFFF;
    }
}
@-moz-keyframes cardReveal {
    0%{
	    -ms-transform: rotateY(180deg); /* IE 9 */
	    -webkit-transform: rotateY(180deg); /* Chrome, Safari, Opera */
	    transform: rotateY(180deg);    

    }
    100%{
    	-ms-transform: rotateY(0deg); /* IE 9 */
	    -webkit-transform: rotateY(0deg); /* Chrome, Safari, Opera */
	    transform: rotateY(0deg);  
	    background: #FFFFFF;
    }
}
@-o-keyframes cardReveal {
    0%{
	    -ms-transform: rotateY(180deg); /* IE 9 */
	    -webkit-transform: rotateY(180deg); /* Chrome, Safari, Opera */
	    transform: rotateY(180deg);
   	
    }
    100%{
    	-ms-transform: rotateY(0deg); /* IE 9 */
	    -webkit-transform: rotateY(0deg); /* Chrome, Safari, Opera */
	    transform: rotateY(0deg);  

    }
}
@keyframes cardReveal { 
    0%{
	    -ms-transform: rotateY(180deg); /* IE 9 */
	    -webkit-transform: rotateY(180deg); /* Chrome, Safari, Opera */
	    transform: rotateY(180deg); 

    }
    100%{
    	-ms-transform: rotateY(0deg); /* IE 9 */
	    -webkit-transform: rotateY(0deg); /* Chrome, Safari, Opera */
	    transform: rotateY(0deg); 
	    background: #FFFFFF; 
	}
}

@-webkit-keyframes pulse {
    0%{opacity:1;}
    50%{opacity:0;}
    100%{opacity:1;}
}
@-moz-keyframes pulse {
    0%{opacity:1;}
    50%{opacity:0;}
    100%{opacity:1;}
}
@-o-keyframes pulse {
    0%{opacity:1;}
    50%{opacity:0;}
    100%{opacity:1;}
}
@keyframes pulse { 
    0%{opacity:1;}
    50%{opacity:0;}
    100%{opacity:1;}
}

@-webkit-keyframes stopPulse {
	100%{opacity:1;}
}
@-moz-keyframes stopPulse {
	100%{opacity:1;}
}
@-o-keyframes stopPulse {
	100%{opacity:1;}
}
@keyframes stopPulse { 
	100%{opacity:1;}
}

@-webkit-keyframes rotation {
    0%{
	    -ms-transform: rotateY(0deg); /* IE 9 */
	    -webkit-transform: rotateY(180deg); /* Chrome, Safari, Opera */
	    transform: rotateY(360deg);
	}
    50%{
	    -ms-transform: rotateY(0deg); /* IE 9 */
	    -webkit-transform: rotateY(180deg); /* Chrome, Safari, Opera */
	    transform: rotateY(360deg);    	
    }
    100%{
    	-ms-transform: rotateY(0deg); /* IE 9 */
	    -webkit-transform: rotateY(180deg); /* Chrome, Safari, Opera */
	    transform: rotateY(360deg);  
    }
}
@-moz-keyframes rotation {
    0%{
	    -ms-transform: rotateY(0deg); /* IE 9 */
	    -webkit-transform: rotateY(0deg); /* Chrome, Safari, Opera */
	    transform: rotateY(0deg);
	}
    50%{
	    -ms-transform: rotateY(180deg); /* IE 9 */
	    -webkit-transform: rotateY(180deg); /* Chrome, Safari, Opera */
	    transform: rotateY(180deg);    	
    }
    100%{
    	-ms-transform: rotateY(360deg); /* IE 9 */
	    -webkit-transform: rotateY(360deg); /* Chrome, Safari, Opera */
	    transform: rotateY(360deg);  
    }
}
@-o-keyframes rotation {
    0%{
	    -ms-transform: rotateY(0deg); /* IE 9 */
	    -webkit-transform: rotateY(0deg); /* Chrome, Safari, Opera */
	    transform: rotateY(0deg);
	}
    50%{
	    -ms-transform: rotateY(180deg); /* IE 9 */
	    -webkit-transform: rotateY(180deg); /* Chrome, Safari, Opera */
	    transform: rotateY(180deg);    	
    }
    100%{
    	-ms-transform: rotateY(360deg); /* IE 9 */
	    -webkit-transform: rotateY(360deg); /* Chrome, Safari, Opera */
	    transform: rotateY(360deg);   
    }
}
@keyframes rotation { 
    0%{
	    -ms-transform: rotateY(0deg); /* IE 9 */
	    -webkit-transform: rotateY(0deg); /* Chrome, Safari, Opera */
	    transform: rotateY(0deg);
	}
    50%{
	    -ms-transform: rotateY(180deg); /* IE 9 */
	    -webkit-transform: rotateY(180deg); /* Chrome, Safari, Opera */
	    transform: rotateY(180deg);    	
    }
    100%{
    	-ms-transform: rotateY(360deg); /* IE 9 */
	    -webkit-transform: rotateY(360deg); /* Chrome, Safari, Opera */
	    transform: rotateY(360deg);  
	}
}

@-webkit-keyframes rotation {
    0%{
	    -ms-transform: rotateY(0deg); /* IE 9 */
	    -webkit-transform: rotateY(0deg); /* Chrome, Safari, Opera */
	    transform: rotateY(0deg);
	}
    50%{
	    -ms-transform: rotateY(180deg); /* IE 9 */
	    -webkit-transform: rotateY(180deg); /* Chrome, Safari, Opera */
	    transform: rotateY(180deg);    	
    }
    100%{
    	-ms-transform: rotateY(360deg); /* IE 9 */
	    -webkit-transform: rotateY(360deg); /* Chrome, Safari, Opera */
	    transform: rotateY(360deg);  
    }
}
@-moz-keyframes rotation {
    0%{
	    -ms-transform: rotateY(0deg); /* IE 9 */
	    -webkit-transform: rotateY(0deg); /* Chrome, Safari, Opera */
	    transform: rotateY(0deg);
	}
    50%{
	    -ms-transform: rotateY(180deg); /* IE 9 */
	    -webkit-transform: rotateY(180deg); /* Chrome, Safari, Opera */
	    transform: rotateY(180deg);    	
    }
    100%{
    	-ms-transform: rotateY(360deg); /* IE 9 */
	    -webkit-transform: rotateY(360deg); /* Chrome, Safari, Opera */
	    transform: rotateY(360deg);  
    }
}
@-o-keyframes rotation {
    0%{
	    -ms-transform: rotateY(0deg); /* IE 9 */
	    -webkit-transform: rotateY(0deg); /* Chrome, Safari, Opera */
	    transform: rotateY(0deg);
	}
    50%{
	    -ms-transform: rotateY(180deg); /* IE 9 */
	    -webkit-transform: rotateY(180deg); /* Chrome, Safari, Opera */
	    transform: rotateY(180deg);    	
    }
    100%{
    	-ms-transform: rotateY(360deg); /* IE 9 */
	    -webkit-transform: rotateY(360deg); /* Chrome, Safari, Opera */
	    transform: rotateY(360deg);   
    }
}
@keyframes rotation { 
    0%{
	    -ms-transform: rotateY(0deg); /* IE 9 */
	    -webkit-transform: rotateY(0deg); /* Chrome, Safari, Opera */
	    transform: rotateY(0deg);
	}
    50%{
	    -ms-transform: rotateY(180deg); /* IE 9 */
	    -webkit-transform: rotateY(180deg); /* Chrome, Safari, Opera */
	    transform: rotateY(180deg);    	
    }
    100%{
    	-ms-transform: rotateY(360deg); /* IE 9 */
	    -webkit-transform: rotateY(360deg); /* Chrome, Safari, Opera */
	    transform: rotateY(360deg);  
	}
}

@media screen and (max-width: 668px) {

	#header-home {
	padding: 20px;
	font-family: 'VT323', monospace;
	font-size: 48px;
	line-height: 48px;
	color: #fdde67;
	vertical-align: middle;
	text-align: center;
	}

	.emoji-card {
	width: 98%;
	height: 98%;
	padding: 2px;
	text-align: center;
	vertical-align: middle;
	position: relative;
	border: 1px solid #d58f09;
	}

	.col {
		margin-bottom: 7px;
	}

	.row {
		margin-bottom: 0px;
	}
}


}

